.App {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    margin-bottom: 16px;
}

.container {
    width: 600px;
    max-width: 100%;
    margin: 40px auto;
}

.todo {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container form {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 2%;
    text-align: center;
}

.container form input {
    padding: 12px 10px;
    border: none;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 5px;
    margin: 7px 0;
}

input[type='text'] {
    width: 100%;
}

.time-date {
    display: flex;
    justify-content: space-between;
}

input[type='date'],
input[type='time'] {
    width: 49%;
}

button {
    border: none;
    padding: 12px 16px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #112031;
    color: #fff;
    margin-top: 12px;
}

.todo-list {
    max-height: 200px;
    min-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.todo-item {
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.todo-item:hover {
    background-color: rgb(234, 234, 234);
}

.todo-item:hover > .action {
    display: flex;
}

.action {
    display: none;
    align-items: center;
}

.fa-solid {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.fa-check {
    background-color: #1c7947;
}

.fa-trash-can {
    background-color: #ff2442;
}

.todo-count {
    padding: 12px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
